html,body {
    margin: 0;
}

.page-container {
    padding-left: 12px;
    padding-right: 17px;
}

.main-title {
    margin-top: 70px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;

    font-size: 36px;
    letter-spacing: -0.045em;
}

.additional-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    text-transform: uppercase;
}

.about-us {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.team-container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 320px;
}

.team-container:after {    
    clear: both;
    content: "";
    display: block;
}

.team-member {
    position: relative;
    margin-top: 64px;
    float: left;
}

.team-member:nth-child(2n){
    margin-top: 80px;
    float: right;
}
.team-member:nth-child(2){
    margin-top: 120px;
}

.member-photo {
    width: 140px;
}


.member-position {
    position: absolute;
    top: 0;
    left: 160px;

    white-space: nowrap;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;

    text-transform: uppercase;

    transform-origin: top left;
    transform: rotate(90deg);
}

.member-name {
    position: absolute;
    left: 0;
    top: 210px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.copyright {
    margin-top: 115px;
    margin-bottom: 24px;

    align-self: center;
}

.created-by {    
    margin: 0;
    text-align: center;

    font-size: 14px;
    font-family: 'Montserrat';

    color: #BDBDBD;
}

.created-by .username {
    font-weight: 700;
}

@media all and (min-width: 902px){
    .page-container {
        width: 1000px;
        margin: 0 auto;
    }
    .text-container {
        display: flex;
        padding: 0 50px;

        height: 243px;
        
        justify-content: space-between;
        align-items: center;
    }
    .main-title {
        margin-top: 0;
        flex-basis: 50%;
    }
    .additional-text-container {
        flex-basis: 50%;
    }

    .team-container{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;

        max-width: none;
    }
    .team-member {
        margin-top: 87px;
    }
    .team-member:nth-of-type(3n+2){
        margin-top: 150px;
    }

    .empty-space {
        margin: 0;
        display: none;
    }
    .team-member-left{
        float: none;
    }
    .team-member-right{
        float: none;
    }
    
    .member-photo {        
        width: 240px;
    }
    .member-position {
        top: 0;
        left: 260px;

        font-size: 12px;
    }    
    .member-name {
        left: 0;
        top: 365px;
    
        font-size: 18px;    
    }
}