html,body {
    margin: 0;
}

.page-container {
    padding-left: 12px;
    padding-right: 17px;
}

.main-title {
    margin-top: 70px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;

    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.additional-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    text-transform: uppercase;
}

.about-us {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.team-container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 320px;
}

.team-container:after {    
    clear: both;
    content: "";
    display: block;
}

.team-member {
    position: relative;
    margin-top: 64px;
}
.team-member + .team-member {
    margin-top: 80px;
}

.team-member-left{
    float: left;
}
.team-member-right{
    float: right;
}

.empty-space {
    height: 48px;
}

.member-photo {
    width: 140px;
}

.member-position-wrap {
    position: absolute;
    max-width: 150px;
    top: 32px;
    transform: rotate(90deg);
}

.member-position {
    position: relative;
    bottom: 110px;

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;

    line-height: 13px;
    text-transform: uppercase;
}

.member-name {
    position: absolute;
    left: 0;
    top: 210px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    line-height: 21px;
}

.copyright {
    margin-top: 115px;
    margin-bottom: 24px;

    align-self: center;
}

.created-by {    
    margin: 0;
    text-align: center;

    font-size: 14px;
    font-family: 'Montserrat';

    color: #BDBDBD;
}

.created-by .username {
    font-weight: 700;
}